.temp {
  background-color: lightgray;
  top: 0%;
}



.list {
  width: 100%;
}

.mb-2 {
  height: auto;
  top: 100%;
}


.ion-android-arrow-back{
  position: absolute;
  top: 50px;
  font-size: 30px;
  left: 50px;    
}

.card-body {
  padding-top: 1em;
  bottom: 1em;
}


.red-color {
  color: red;
}

.blue-color {
  color: blue;
}